body {
    background-image: url(https://images.unsplash.com/photo-1603793303277-ed67787545e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2FudGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: rgba (251, 248, 249, 0.9);
    font-size: 60px;
    border: 3px solid black; 
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}